nav
    a(href="/" style="text-decoration: none;font-weight:bold;margin:5px;font-size:2rem;") Home
    a(href="/service" style="text-decoration: none;font-weight:bold;margin:10px;font-size:2rem;") Services
    a(href="/contact" style="text-decoration: none;font-weight:bold;margin:10px;font-size:2rem;") Contacts  
